.cocktail {
    @apply border-2 border-transparent rounded-md;
    @apply transition-all duration-300;
    @apply relative;
    &:hover {
        @apply border-blue-500;
        box-shadow: -6px 20px 34px rgb(0 92 185 / 25%);
    }

    &__overlay {
        @apply absolute top-0 left-0 w-full h-full z-50;
    }

    &__media {
        aspect-ratio: 2/3;
        @apply max-w-[200px] mx-auto relative;
        img {
            @apply absolute top-0 left-0 w-full h-full object-cover rounded;
        }
    }

    &__name {
        @apply flex gap-1 items-center justify-center;
        &__text {
            @apply text-center text-lg;
        }

        &__favorites {
            @apply relative z-[51];
            .favorite__form__button__heart {
                @apply w-[40px] h-[40px];
            }
        }
    }

    &__rating {
        @apply flex justify-center gap-2;
        &__number {
            @apply hidden;
        }
        &__star {
            aspect-ratio: 1/1;
            width: 30px;
            @apply bg-[url("../../public/images/svgs/rating-star-empty.svg")] bg-no-repeat bg-contain bg-center;
            &.active {
                @apply bg-[url("../../public/images/svgs/rating-star-active.svg")];
            }
        }
        &__fill {
            @apply w-0 h-full bg-[url("../../public/images/svgs/rating-star-active.svg")] bg-no-repeat bg-cover bg-left;
        }
    }
}