.dropdown {
    @apply relative;
    &:hover {
        .dropdown__menu {
            @apply flex;
        }
    }

    &__title {
        @apply text-2xl text-white bg-gray-600 px-3 py-2 rounded;
    }
    &__menu {
        @apply hidden flex-col absolute top-full left-0 z-10 w-full;

        animation: rotateMenu 400ms ease-in-out forwards;
        transform-origin: top center;
    }
    &__link {
        @apply text-xl p-2 bg-gray-400;
        &:hover {
            @apply bg-gray-300;
        }
    }
}



.dropdown-click {
    @apply relative;
    .dropdown__first {
        @apply flex items-center gap-2;
        &__title {
            @apply text-sm;
            div:last-child {
                @apply italic;
            }
        }
        &.active {

        }

    }
    .dropdown__main {
        @apply hidden absolute top-full left-0 bg-gray-200;

        animation: rotateMenu 400ms ease-in-out forwards;
        transform-origin: top center;

        &__item {
            @apply flex;
            &:hover {
                @apply bg-gray-300;
            }
        }
        &__link {
            @apply px-4 py-2 shrink-0;
        }

        &.active {
            @apply block;
        }
    }
    

}