.dropdown {
    @apply relative;
    &:hover {
        .dropdown__menu {
            @apply flex;
        }
    }

    &__title {
        @apply text-lg bg-gray-300 px-3 py-2 rounded;
    }
    &__menu {
        @apply hidden flex-col absolute top-full left-0 z-[100] w-full;
        filter: drop-shadow(3px 5px 10px #1B1B1B);

        animation: rotateMenu 400ms ease-in-out forwards;
        transform-origin: top center;
    }
    &__link {
        @apply p-2 bg-gray-200;
        &:hover {
            @apply bg-gray-300;
        }
    }
}



.dropdown-click {
    @apply relative cursor-pointer;
    .dropdown__first {
        @apply flex items-center gap-2;
        &__icon {
            
            @apply flex;
            &__user {
                min-width: 30px;
            }
            &__arrow {
                width: 20px;
                @apply transition-all duration-300;
                &.active {
                    @apply rotate-180;
                }
            }
        }
        &__title {
            @apply hidden text-sm;
            @screen xs { @apply block; }
            div:last-child {
                @apply italic;
            }
           
        }
        &.active {

        }

    }
    .dropdown__main {
        @apply hidden absolute top-full left-0 bg-gray-200;
        filter: drop-shadow(3px 5px 10px #1B1B1B);

        animation: rotateMenu 400ms ease-in-out forwards;
        transform-origin: top center;

        &__item {
            @apply flex;
            &:hover {
                @apply bg-gray-300;
            }
        }
        &__link {
            @apply px-4 py-2 shrink-0;
        }

        &.active {
            @apply block;
        }
    }
    

}