* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    @apply font-sans antialiased overflow-x-hidden;
    &__inner {
        @apply min-h-screen bg-gray-100;
    }
}

.full-width {
    position: relative;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
}

.section {
    @apply py-6 px-2;
}